/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); */
@font-face{
    font-family: 'Poppins', sans-serif;
    src: url("./icons/fonts/Poppins-Black.ttf");
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active{
    outline:0px !important;
    /* -webkit-appearance:none; */
    box-shadow: none !important;
}

.signupBtn{
    border-radius: 20px;
}


/* -----------------PROFILE PAGE----------------- */
.Profile .img-bg-properties{
    height: 400px;
    width: 98%;
    max-width: 98%;
    border-radius: 7px;
}
.Profile .row .col-12 .img-user-properties{
    position: relative;
    top: -70px;
    left: 30px;
    height: 100px;
    width: 100px;
}
.Profile .img-user-properties:hover{
    border:1px solid #ffc107;
    cursor: pointer;
}
.Profile .img-edit-properties{
    border: 1px solid #ddd;
    position: relative;
    top: -40px;
    left: 5px;
    height: 30px;
    width: 30px;
    background: #fff;
}
.Profile .img-edit-properties:hover{
    background: #ffc107;
    cursor: pointer;

}
.Profile .User-info-area{
    position: relative;
    top: -50px;
    font-size: 18px;
    font-weight: bold;
}
.Profile .User-info-area-credentials{
    position: relative;
    top: -50px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
}
.Profile .User-info-area-description{
    position: relative;
    top: -50px;
}
.Profile .User-info-area-description p{
    font-size: 14px;
    font-weight: 500;
}
.Profile .User-info-area-address{
    position: relative;
    top: -50px;
}
.Profile .User-info-area-address p,a{
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}
@media only screen and (max-width: 424px){
    .Profile .options-bar .password-view{
        margin-top: 5px;
    }
    
}


/* -----------------EDITPROFILE PAGE----------------- */
.EditProfile .row form .view-img-properties{
    height: 100px;
    width: 100px;
    background-size:cover;
    background-image:url("./images/default_user.webp");

}
/* .EditProfile .row form .view-img-properties:hover{
    border:1px solid #ffc107;
    cursor: pointer;
} */
.EditProfile .row form .label-properties{
    border: 1px solid #ddd;
    position: relative;
    top: -30px;
    left: 70px;
    height: 30px;
    width: 30px;
    background: #fff;
}
.EditProfile .row form .label-properties:hover{
    background: #ffc107;
    cursor: pointer;

}
.EditProfile .row form .icon-img{
    height: 29px;
    width: 29px;
}
.EditProfile .row form #file-input{
    display: none;
}


/* -----------------CREATEPOST PAGE----------------- */
.CREATEPOST .row form label{
    cursor: pointer;
}


/* -----------------INDEX PAGE----------------- */
.INDEX .row .col-12 .posts-area{
    overflow: hidden;
    overflow-y: scroll;
    height: 85vh;
}
::-webkit-scrollbar {
    display: none;
}
.INDEX .card:hover{
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px  rgba(0, 0, 0, 0.1);
}
.INDEX  .card img{
    height: 250px;
    /* border: 1px solid red; */
    background-size: contain;
}
.INDEX .favorit-post-area{
    height: 250px;
}
.INDEX .favorit-post-area .favorit-post i{
    position: relative;
    top: -250px;
    right: -304px;
    background:#fff;
    border-radius: 0px 4px 0px 0px;
}
.INDEX  .card .description-post-area{
    font-size: 12px;
}
.INDEX .row .LATESTPOST .row img{
    height: 50px;
    background-size: cover;
    border-radius: 5px 0px 0px 5px;
}
.INDEX .row .LATESTPOST .row  .col-12 span{
    font-size: 13px;
    font-weight: bold;
}
.INDEX .row .LATESTPOST .row  .col-12 .date-time{
    font-size: 12px;
}
.LATESTPOST .latest-area-content{
    box-shadow: 1px 1px 5px 1px  rgba(0, 0, 0, 0.1);
    background: #f8f9fa;
    border-radius: 5px;
}
.LATESTPOST .link-redirection{
    color: #000;
    text-decoration: none;
}
.LATESTPOST .latest-area-content:hover{
    background: #f2f2f2;
}
.LATESTPOST .latest-area-content:hover img{
    opacity: 0.7;
}


/* -----------------POSTDETAILS PAGE----------------- */
.POSTDETAILS .row .col-12 .title-area{
    line-height: 40px;
} 
.POSTDETAILS .global-post{
    /* border: 1px solid red; */
    height: 93vh;
    overflow: hidden;
    overflow-y: scroll;

}

.POSTDETAILS .post-owner-area .col-12 .row .col-12:hover{
    background: #f8f9fa;
    border-radius: 5px;
}
.POSTDETAILS .post-owner-area .col-12 .row .col-12 img{
    height: 45px;
    width: 45px;
    max-width: 80px;
    background-size: cover;
}
.POSTDETAILS .post-owner-area .col-12 .row .col-12 .row .col-12 span{
    font-size: 14px;
}
.POSTDETAILS .post-owner-area .col-12 .row .col-12 .row .col-12 .date-time{
    font-size: 12px;
}
.POSTDETAILS .content-area .col-12 img{
    height: 350px;
    background-size: contain;
}
.POSTDETAILS .content-area .col-12 .category-area{
    background: #f2f2f2;
    border-radius: 25px;
    cursor: pointer;
}
.POSTDETAILS .global-post .content-area .col-12 .row .comments-counter-area{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.POSTDETAILS .global-post .content-area .col-12 .row .comments-counter-area span i:hover{
    cursor: pointer;
    color: #ffc107;
}
.POSTDETAILS .global-post .content-area .col-12 .row  .comments-counter-area .show-user-like-area:hover{
    background: #f2f2f2;
    cursor: pointer;
}
.POSTDETAILS .global-post .content-area .col-12 .row  .comments-counter-area .show-user-like-area img{
    height: 35px;
    width: 35px;
}
.POSTDETAILS .global-post .content-area .col-12 .row  .comments-counter-area .show-user-like-area span{
    font-size: 12px;
    font-weight: 500;
}
.POSTDETAILS .global-post .content-area .col-12 .row  .comments-create-area form input{
    height: 35px;
}
.POSTDETAILS .global-post .content-area .col-12 .row  .comments-create-area{
    background: #f8f9fa;
}
.POSTDETAILS .global-post .content-area .col-12 .row  .comments-create-area form input:focus{
    border: 1px solid #ffc107;
}
/* .POSTDETAILS .global-post .content-area .col-12 .row .comments-area span .like-counter-area{
    background: #f2f2f2;
} */
.POSTDETAILS .global-post .content-area .col-12 .row .show-comment-area{
    padding: 0px 10px;
    background: #f8f9fa;
    margin-top: 3px;
}
.POSTDETAILS .global-post .content-area .col-12 .row .show-comment-area .col-12 img{
    height: 35px;
    width: 35px;
    max-width: 35px;
    background-size: cover;
    border: 1px solid #ffc107;
}
.POSTDETAILS .global-post .content-area .col-12 .row .show-comment-area .col-12 .comments-text-area{
    background: #f2f2f2;
    width: 300px;
    max-width: 300px;
}
.POSTDETAILS .global-post .content-area .col-12 .row .show-comment-area .col-12 .comments-text-area p{
    font-size: 12px;
    font-weight: bold;
}
.POSTDETAILS .global-post .content-area .col-12 .row .show-comment-area .col-12 .comments-text-area .comments-title-area .dropdown .show-more-btn{
    font-size: 5px;
    font-weight: 500;
}
.POSTDETAILS .global-post .content-area .col-12 .row .show-comment-area .col-12 .comments-text-area .comment-date-area{
    font-size: 10px;
}


/* -----------------HEADERS PAGE----------------- */
/* .HEADER .info-user-area .profile-link-area:hover img{
    opacity: 0.9;
    border: 1px solid #ffc107;
} */
.HEADER .info-user-area img{
    height: 33px;
    width: 33px;
    max-width: 33px;
}
.HEADER .navbar .container-fluid .collapse .navbar-nav .add-post-area{
    height: 33px;
    width: 33px;
    max-width: 33px;
    background: #f2f2f2;
    color: #000;

}
.HEADER .navbar .container-fluid .collapse .navbar-nav .add-post-area:hover{
    background: #ffc107;
    color: #fff;

}
.HEADER .navbar .container-fluid .collapse .navbar-nav .search-area{
    /* color: #000; */
    font-size: 14px;
    width: 90px;
}
.HEADER .navbar .container-fluid .collapse .navbar-nav .search-area:hover{
    color: #000;
    background: #f2f2f2;
    border-radius: 25px;
}


/* -----------------SEARCH PAGE----------------- */
.SEARCH .col-12 .container form input:focus{
    border: 1px solid #ffc107;
}
.SEARCH .col-12 .search-area-body .show-content-area .main-area:hover{
    background: #f2f2f2;
}
.SEARCH .col-12 .search-area-body .show-content-area .col-12 img{
    height: 70px;
    width: 70px;
}
.SEARCH .col-12 .search-area-body .show-content-area  .col-12 .row:hover{
    cursor: pointer;
}
.SEARCH .col-12 .search-area-body .show-content-area  .col-12 .row p{
    font-size: 12px;
}
.SEARCH .col-12 .search-area-body .show-content-area  .col-12 .row .date-time{
    font-size: 11px;
    color: #279EFF;
}


/* -----------------MYPOSTS PAGE----------------- */
.MYPOSTS .row .col-12 .card img{
    height: 200px;
}
.MYPOSTS .row .col-12 .card{
    width: 18em;
}
/* hovered the entier card */
.MYPOSTS .row .col-12 .card:hover{
    cursor: pointer;
    box-shadow: 1px 1px 7px #ddd;
    transition: 2s;
    /* background-image: url("<?php echo $bg_image_post_url; ?>"); */
    background-image: url('./images/bg_default_user.webp');
    background-size: cover;
    opacity: 0.9;
    border: none;
}

/* card media query */
@media only screen and (max-width: 768px){
    /*Tablets [601px -> 1200px]*/
    .MYPOSTS .row .col-12 .card{
       width: 100%;
    }
    
}
.MYPOSTS .row .col-12 .card:hover img{
    visibility:hidden;
    height: 176px;
}

/* hovered and default status of delete-area */
.MYPOSTS .row .col-12 .card .delete-area{
    display: none;
    color: #ef6262;
}
.MYPOSTS .row .col-12 .card .delete-area:hover{
    display: none;
    color: #fe0000;
}
.MYPOSTS .row .col-12 .card .delete-area{
    display: none;
}
.MYPOSTS .row .col-12 .card:hover .delete-area{
    display: block;
}

/* hovered and default status of info-area */
.MYPOSTS .row .col-12 .card .card-body .info-area{
    visibility: visible;
}
.MYPOSTS .row .col-12 .card .card-body .info-area .title-card-area{
    font-weight: bold;
    font-size: 14px;
}
.MYPOSTS .row .col-12 .card .card-body .info-area .content-card-area{
    font-size: 13px;
    font-weight: 400;
}
.MYPOSTS .row .col-12 .card:hover .card-body .info-area{
    cursor: pointer;
    visibility: hidden;
}

/* hovered and default status of hovered-area */
.MYPOSTS .row .col-12 .card .card-body .hovered-area{
    cursor: pointer;
    visibility: hidden;
}
.MYPOSTS .row .col-12 .card:hover .card-body .hovered-area{
    cursor: pointer;
    visibility: visible;
}
/* .MYPOSTS .row .col-12 .card .card-body .hovered-area a{
    background: ;
} */


/* -----------------EDITPOST PAGE----------------- */
.EDITPOST  .row .col-12 form .img-area{
    height: 200px;
    width: 100%;
    background-size: cover;
}
.EDITPOST  .row .col-12 .container form .img-area label i{
    color: #ffc107;
    padding: 5px;
    border-radius: 15px;
}
.EDITPOST  .row .col-12 .container form .img-area label i:hover{
    cursor: pointer;
    color: #000;
    padding: 5px;
    border-radius: 15px;
    background: #fff;
}


/* -----------------PROFILEGUEST PAGE----------------- */
.PROFILE_GUEST .img-bg-properties{
    height: 400px;
    width: 98%;
    max-width: 98%;
    border-radius: 7px;
    

}
.PROFILE_GUEST .row .col-12 .img-user-properties{
    position: relative;
    top: -70px;
    left: 30px;
    height: 100px;
    width: 100px;
}
.PROFILE_GUEST .User-info-area{
    position: relative;
    top: -50px;
    font-size: 18px;
    font-weight: bold;
}
.PROFILE_GUEST .User-info-area-credentials{
    position: relative;
    top: -50px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
}
.PROFILE_GUEST .User-info-area-description{
    position: relative;
    top: -50px;
}
.PROFILE_GUEST .User-info-area-description p{
    font-size: 14px;
    font-weight: 500;
}
.PROFILE_GUEST .User-info-area-address{
    position: relative;
    top: -50px;
}
.PROFILE_GUEST .User-info-area-address p,a{
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}
.PROFILE_GUEST .options-bar a{
    font-size: 13px;

}
@media only screen and (max-width: 424px){
    .PROFILE_GUEST .options-bar .password-view{
        margin-top: 5px;
    }
    
}


/* -----------------FAVORITESPOSTS PAGE----------------- */
.FAVORITESPOSTSshow .title-area h3{
    color: #ffc107;
}
.FAVORITESPOSTSshow .favorite-content-area{
    height: 60px;
    box-shadow: 1px 1px 5px 1px  rgba(0, 0, 0, 0.1);
}
.FAVORITESPOSTSshow .favorite-content-area:hover{
    background: #f8f9fa;
    cursor: pointer;
}
.FAVORITESPOSTSshow .favorite-content-area:hover .img-area{
    opacity: 0.8;
}
.FAVORITESPOSTSshow .favorite-content-area .btn-area{
    width: 60px;
    max-width: 60px;
}
.FAVORITESPOSTSshow .favorite-content-area .img-area{
    width: 60px;
    max-width: 60px;
    background-size: contain;
}
.FAVORITESPOSTSshow .favorite-content-area .detailas-area .title-post-content{
    font-size: 13px;
}
.FAVORITESPOSTSshow .favorite-content-area .detailas-area .descrip-post-content{
    font-size: 12px;
}