/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); */

@font-face{
    font-family: 'Poppins', sans-serif;
    src: url("./icons/fonts/Poppins-Black.ttf");
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active{
    outline:0px !important;
    /* -webkit-appearance:none; */
    box-shadow: none !important;
}
.signupBtn{
    border-radius: 20px;
}

/* -----------------PROFILE PAGE----------------- */
.Profile .img-properties{
    border: 1px solid red;
}